body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

.add-todo-input,
.edit-todo-input {
    outline: none;
}

.add-todo-input:focus,
.edit-todo-input:focus {
    border: none !important;
    box-shadow: none !important;
}

.view-opt-label,
.date-label {
    font-size: 0.8rem;
}

.edit-todo-input {
    font-size: 1.7rem !important;
}

.todo-actions {
    visibility: hidden !important;
}

.todo-item:hover .todo-actions {
    visibility: visible !important;
}

.todo-item.editing .todo-actions .edit-icon {
    display: none !important;
}

button {
    font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (1600 - 300))) !important
}

p {
    font-size: calc(13px + (16 - 13) * ((100vw - 360px) / (1600 - 300))) !important
}

button:focus {
    box-shadow: none !important;
    outline-width: 0
}

.btn {
    cursor: pointer;
}

.card {
    border-radius: 12px;
    width: calc(500px + 10 * ((100vw - 320px) / 680));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8)
}

.card-header {
    border-radius: 12px !important
}

.modal-body .btn-danger {
    border-radius: 11px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2)
}

.btn-light {
    background: transparent !important;
    border: 0px !important
}

.btn-light:hover {
    border-color: #fff !important
}

.btn-light:active {
    border-color: #fff !important
}

span {
    font-size: 30px !important
}

.done {
    cursor: pointer;
}
/*
.modal-content {
   background: transparent !important
}
 */

@media (max-width: 526px) {
    .card {
        width: unset
    }
}