{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'updatestyle.css' %}">
</head>
<body>
    <div class="container">
        <form id="contactus" action="" method="post">
            {% csrf_token %}
            <h3>Update ToDo</h3>
            {{form.as_p}}
<!--            <p> <input placeholder="title" type="text" tabindex="1" required autofocus> </p>-->
<!--            <p> <input type="date" name="date" tabindex="3" id="myDate" value=""> </p>-->
            <p>
                <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending">
                    <i id="icon" class=""></i> Update Now
                </button>
            </p>
        </form>
    </div>
    <!-- JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>